*{
  
   height: 100%;
   /* width:100%; */
 
}
body {
    background-image:linear-gradient(rgba( 10, 10, 10, 0.3),rgba(35, 1, 35, 0.3 ), rgba(58, 12, 58, 0.3), rgba(21, 20, 66, 0.3),rgba(0, 5, 43, 0.3)), url(./images/shootingstar.gif) 
    ;
    display: grid;
    justify-content: center;
    background-size: auto;
  
}
container {
    display: inherit;
    height:min-content;
}
audio {
    height:min-content;
}
.grid {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(35, 1, 35), rgb(58, 12, 58), rgb(21, 20, 66),rgb(0, 5, 43) );
    opacity: 0.7;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.shooter {
background-image: url(./images/swordfish.png);
background-size:



}

.laser {
    background-image: radial-gradient(circle, rgb(54, 190, 54) , rgb(177, 67, 133));

}

.boom {
    background-image: linear-gradient(to right, red , yellow);
}

.results {
    animation: mymove 5s infinite; /*mlsdkf 1.4s ease-in-out infinite;*/
transition: 5s cubic-bezier(0,1.5,.5,1) ;
/* animation:mlsdkf 1.4s ease-in-out infinite; */
}

@keyframes mymove {
  from {color: red}
  to {color: rgb(13, 13, 127)}
  
}

